.scene{
    -fx-font:14pt "Arial";
    -fx-background-color:#808080;
}
.button{
    -fx-max-width: 200px;
    -fx-background-insets: 10px;
    -fx-padding:15
}
.text-field{
    -fx-max-width: 60px;
    -fx-background-insets: 15px;
    -fx-padding:15
}